/* Remplacer l'élément img par un div */
.carte {
    cursor: pointer;
    margin: 1.5rem;
    width: 15rem;
    height: 15rem;
    background-image: url("../image/mystere2.jpg");
    background-size: 15rem;
}

.gagner{
    background-image: url("../image/korogu.png");
}

.perdu{
    background-image: url("../image/ganon.jpg");
}